$xe-font-size-s-mini: 20rpx;
$xe-font-size-mini: 24rpx;
$xe-font-size-sm: 28rpx;
$xe-font-size-base: 32rpx;
$xe-font-size-base-lg: 36rpx;
$xe-font-size-large: 48rpx;

$xe-color-white: #fff;
$xe-color-dark-black: #000;
$xe-color-black: #333;
$xe-color-black-grey: #666;
$xe-color-grey: #999;
$xe-color-primary: #1472ff;